@import url(https://fonts.googleapis.com/css?family=Barlow:400,500,700&display=swap);


html,body,div{
    margin: 0;
    padding: 0;
    font-family: barlow;
}

#wrapper{
   margin: auto;
   width: 1440px;
   background-color: red;
}

.floatLeft{
    float:left;
}
.floatRight{
    float: right;
}

#top{
    height: 90px;
    color: white;
    background-color: #005c40;
}
.snelmenu{
    width: 350px;
}

#content{
    min-height: 600px;
    color: rgb(255, 255, 255);
    background-color: #004630;
}

.logo{
    background-color: rgb(255, 255, 255);
    min-height: 80px;
    padding: 5px;
}

#top ul{
    padding-top: 35px;
}

#top ul li{
    display: inline;
    padding: 8px;
    font-weight: bold;
}

.button{
    background-color: #dbff4a;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: black;
    font-weight:bold;
}

.green, .yellow, .blue{
    text-align: center;
    height: 100px;
}

.green{
    background-color:green ;
    height: 100px;
    width: 25%;
}

.greens{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.blues{
    display:flex;
    flex-direction: column; 

    height: 245px;
    border: 1px solid rgb(0, 0, 0);
}

.blue{
    background-color: blue;
}

.blue:nth-child(2), .yellow:nth-child(2){

    margin-top:5px;
    margin-bottom: 5px;
}

    .footer{
    flex-direction: row;
justify-content: space-between;}

#footer{
    background-color: rgb(255, 0, 0);
    height: px;


}

.yellow{
    background-color: yellow;
}

.yellows{ 
    height: 245px;
    border: 1px solid rgb(0, 0, 0);}
    

    